<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>
`perl &lt;&lt;&lt;$TM_CURRENT_LINE -pe 's/.*?(\d+).*/$1+1/e'`. </string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Add Numbered List Item</string>
	<key>scope</key>
	<string>text.html.markdown markup.list.numbered</string>
	<key>uuid</key>
	<string>50E0F438-31F5-423E-87F8-F73F5EB8DE1E</string>
</dict>
</plist>
