<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>**$TM_SELECTED_TEXT**</string>
	<key>keyEquivalent</key>
	<string>@b</string>
	<key>name</key>
	<string>Bold</string>
	<key>scope</key>
	<string>text.html.markdown</string>
	<key>uuid</key>
	<string>B6E4F67F-D9E2-4866-A958-A96C063549DB</string>
</dict>
</plist>
