<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>![${1:alt text}](${2:SRC})
</string>
	<key>name</key>
	<string>Image (img)</string>
	<key>scope</key>
	<string>text.html.markdown</string>
	<key>tabTrigger</key>
	<string>img</string>
	<key>uuid</key>
	<string>AC737304-8B70-49F4-9442-AB824D8D911C</string>
</dict>
</plist>
