{
    backgroundColor = "#ffffff"; 
    fileTypes = (markdown); 
    foldingStartMarker = "(<(?i:(head|table|div|style|script|ul|ol|form|dl))\\>.*?>|\\{)"; 
    foldingStopMarker = "(</(?i:(head|table|div|style|script|ul|ol|form|dl))>|\\})"; 
    foregroundColor = "#333333"; 
    highlightPairs = (("(", ")"), ("[", "]"), ("{", "}"), ("\"", "\"")); 
    increaseIndentPattern = "<(head|title|table|tr|td|ul|ol|dl|div)\\>[^>]*>\\s*$"; 
    name = OldMarkdown; 
    scopeName = "text.html.markdown";
    patterns = (
        {
            backgroundColor = "#ECECEC"; 
            begin = "(^\\s+)?<(?i:style)\\>.*?>?"; 
            end = "</(?i:style)>(\\s+$)?"; 
            name = "Embedded CSS"; 
            patterns = ({include = CSS; }); 
        }, 
        {
            foregroundColor = "#6600CC"; 
            match = "&([a-zA-Z]+|#[0-9]+|#x[0-9a-fA-F]+);"; 
            name = "HTML Entities"; 
        }, 
        {
            backgroundColor = "#eeeeee"; 
            begin = "</?([a-zA-Z0-9]+)"; 
            end = ">"; 
            foregroundColor = "#0066CC"; 
            name = Tags; 
            patterns = (
                {match = " ([a-zA-Z-]+)"; name = Option; }, 
                {
                    begin = "\""; 
                    end = "\""; 
                    foregroundColor = "#CC3300"; 
                    name = "Double Quoted String"; 
                    patterns = (
                        {
                            foregroundColor = "#6600CC"; 
                            match = "&([a-zA-Z]+|#[0-9]+|#x[0-9a-fA-F]+);"; 
                            name = "HTML Entities"; 
                        }, 
                        {
                            backgroundColor = "#CC3300"; 
                            foregroundColor = "#ffffff"; 
                            match = "&"; 
                            name = "Bad Ampersand"; 
                        }
                    ); 
                }, 
                {
                    begin = "'"; 
                    end = "'"; 
                    fontStyle = (); 
                    foregroundColor = "#CC3300"; 
                    name = "Single Quoted String"; 
                    patterns = (
                        {
                            foregroundColor = "#6600CC"; 
                            match = "&([a-zA-Z]+|#[0-9]+|#x[0-9a-fA-F]+);"; 
                            name = "HTML Entities"; 
                        }
                    ); 
                }
            ); 
        }, 
        {
            backgroundColor = "#3399ff"; 
            foregroundColor = "#ffffff"; 
            match = "<>"; 
            name = "Incomplete Tag"; 
        }, 
        {backgroundColor = "#eeeeee"; match = "`([^\\\\`]|\\\\.)*?`"; name = Code; }, 
        {backgroundColor = "#eeeeee"; match = "``.*?``"; name = "Code (double tick)"; }, 
        {
            backgroundColor = "#eeeeee"; 
            foregroundColor = "#000000"; 
            match = "(([*\\-+=] ){2,}[*\\-+])|([*\\-+=]{3,})"; 
            name = "Horizontal rule and headings"; 
        }, 
        {backgroundColor = "#ff3333"; match = " {2,}$"; name = "Line break"; }, 
        {fontStyle = (italic); match = "([^\\\\][*])[^`]*?([^\\\\][*])"; name = Em; }, 
        {fontStyle = (italic); match = "([^\\\\][_])[^`]*?([^\\\\][_])"; name = Em; }, 
        {
            fontStyle = (bold); 
            foregroundColor = "#000000"; 
            match = "([^\\\\][*]{2})[^`]*?([^\\\\][*]{2})"; 
            name = Strong; 
        }, 
        {
            fontStyle = (bold); 
            foregroundColor = "#000000"; 
            match = "([^\\\\][_]{2})[^`]*?([^\\\\][_]{2})"; 
            name = Strong; 
        }, 
        {
            "fontStyle[1]" = (underline); 
            match = "\\[(.*?)\\] *\\(.*?\\)"; 
            name = "Inline link"; 
        }, 
        {
            "fontStyle[1]" = (underline); 
            match = "\\[(.*?)\\] *\\[.*?\\]"; 
            name = "Reference link"; 
        }
    ); 
    smartTypingPairs = (("(", ")"), ("[", "]"), ("{", "}"), ("\"", "\""), ("<", ">"), ("`", "`")); 
    uuid = "DA236025-792F-11D9-A212-000D93B3A10E"; 
}