<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundColor</key>
	<string>#ffffff</string>
	<key>fileTypes</key>
	<array>
		<string>markdown</string>
	</array>
	<key>foldingStartMarker</key>
	<string>(&lt;(?i:(head|table|div|style|script|ul|ol|form|dl))\&gt;.*?&gt;|\{)</string>
	<key>foldingStopMarker</key>
	<string>(&lt;/(?i:(head|table|div|style|script|ul|ol|form|dl))&gt;|\})</string>
	<key>foregroundColor</key>
	<string>#333333</string>
	<key>highlightPairs</key>
	<array>
		<array>
			<string>(</string>
			<string>)</string>
		</array>
		<array>
			<string>[</string>
			<string>]</string>
		</array>
		<array>
			<string>{</string>
			<string>}</string>
		</array>
		<array>
			<string>"</string>
			<string>"</string>
		</array>
	</array>
	<key>increaseIndentPattern</key>
	<string>&lt;(head|title|table|tr|td|ul|ol|dl|div)\&gt;[^&gt;]*&gt;\s*$</string>
	<key>name</key>
	<string>Markdown</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>backgroundColor</key>
			<string>#ECECEC</string>
			<key>begin</key>
			<string>(^\s+)?&lt;(?i:style)\&gt;.*?&gt;?</string>
			<key>end</key>
			<string>&lt;/(?i:style)&gt;(\s+$)?</string>
			<key>name</key>
			<string>Embedded CSS</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>CSS</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>foregroundColor</key>
			<string>#6600CC</string>
			<key>match</key>
			<string>&amp;([a-zA-Z]+|#[0-9]+|#x[0-9a-fA-F]+);</string>
			<key>name</key>
			<string>HTML Entities</string>
		</dict>
		<dict>
			<key>backgroundColor</key>
			<string>#eeeeee</string>
			<key>begin</key>
			<string>&lt;/?([a-zA-Z0-9]+)</string>
			<key>end</key>
			<string>&gt;</string>
			<key>foregroundColor</key>
			<string>#0066CC</string>
			<key>name</key>
			<string>Tags</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string> ([a-zA-Z-]+)</string>
					<key>name</key>
					<string>Option</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>"</string>
					<key>end</key>
					<string>"</string>
					<key>foregroundColor</key>
					<string>#CC3300</string>
					<key>name</key>
					<string>Double Quoted String</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>foregroundColor</key>
							<string>#6600CC</string>
							<key>match</key>
							<string>&amp;([a-zA-Z]+|#[0-9]+|#x[0-9a-fA-F]+);</string>
							<key>name</key>
							<string>HTML Entities</string>
						</dict>
						<dict>
							<key>backgroundColor</key>
							<string>#CC3300</string>
							<key>foregroundColor</key>
							<string>#ffffff</string>
							<key>match</key>
							<string>&amp;</string>
							<key>name</key>
							<string>Bad Ampersand</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>'</string>
					<key>end</key>
					<string>'</string>
					<key>fontStyle</key>
					<array/>
					<key>foregroundColor</key>
					<string>#CC3300</string>
					<key>name</key>
					<string>Single Quoted String</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>foregroundColor</key>
							<string>#6600CC</string>
							<key>match</key>
							<string>&amp;([a-zA-Z]+|#[0-9]+|#x[0-9a-fA-F]+);</string>
							<key>name</key>
							<string>HTML Entities</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>backgroundColor</key>
			<string>#3399ff</string>
			<key>foregroundColor</key>
			<string>#ffffff</string>
			<key>match</key>
			<string>&lt;&gt;</string>
			<key>name</key>
			<string>Incomplete Tag</string>
		</dict>
		<dict>
			<key>backgroundColor</key>
			<string>#eeeeee</string>
			<key>match</key>
			<string>`([^\\`]|\\.)*?`</string>
			<key>name</key>
			<string>Code</string>
		</dict>
		<dict>
			<key>backgroundColor</key>
			<string>#eeeeee</string>
			<key>match</key>
			<string>``.*?``</string>
			<key>name</key>
			<string>Code (double tick)</string>
		</dict>
		<dict>
			<key>backgroundColor</key>
			<string>#eeeeee</string>
			<key>foregroundColor</key>
			<string>#000000</string>
			<key>match</key>
			<string>(([*\-+=] ){2,}[*\-+])|([*\-+=]{3,})</string>
			<key>name</key>
			<string>Horizontal rule and headings</string>
		</dict>
		<dict>
			<key>backgroundColor</key>
			<string>#ff3333</string>
			<key>match</key>
			<string> {2,}$</string>
			<key>name</key>
			<string>Line break</string>
		</dict>
		<dict>
			<key>fontStyle</key>
			<array>
				<string>italic</string>
			</array>
			<key>match</key>
			<string>([^\\][*_])[^`]*?([^\\][*_])</string>
			<key>name</key>
			<string>Em</string>
		</dict>
		<dict>
			<key>fontStyle</key>
			<array>
				<string>bold</string>
			</array>
			<key>foregroundColor</key>
			<string>#000000</string>
			<key>match</key>
			<string>([^\\][*_]{2})[^`]*?([^\\][*_]{2})</string>
			<key>name</key>
			<string>Strong</string>
		</dict>
		<dict>
			<key>fontStyle[1]</key>
			<array>
				<string>underline</string>
			</array>
			<key>match</key>
			<string>\[(.*?)\] *\(.*?\)</string>
			<key>name</key>
			<string>Inline link</string>
		</dict>
		<dict>
			<key>fontStyle[1]</key>
			<array>
				<string>underline</string>
			</array>
			<key>match</key>
			<string>\[(.*?)\] *\[.*?\]</string>
			<key>name</key>
			<string>Reference link</string>
		</dict>
	</array>
	<key>smartTypingPairs</key>
	<array>
		<array>
			<string>(</string>
			<string>)</string>
		</array>
		<array>
			<string>[</string>
			<string>]</string>
		</array>
		<array>
			<string>{</string>
			<string>}</string>
		</array>
		<array>
			<string>"</string>
			<string>"</string>
		</array>
		<array>
			<string>&lt;</string>
			<string>&gt;</string>
		</array>
		<array>
			<string>`</string>
			<string>`</string>
		</array>
	</array>
	<key>uuid</key>
	<string>DA236025-792F-11D9-A212-000D93B3A10E</string>
</dict>
</plist>
