<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Inline Markdown</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>\\[-`*_#+.!(){}\[\]\\]</string>
			<key>name</key>
			<string>constant.character.escape.markdown</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>Markdown will convert this for us. We match it so that the HTML grammar won't mark it up as invalid.</string>
			<key>match</key>
			<string>&amp;(?!([a-zA-Z]+|#[0-9]+|#x[0-9a-fA-F]+);)</string>
			<key>name</key>
			<string>meta.other.valid-ampersand.markdown</string>
		</dict>
		<dict>
			<key>match</key>
			<string>`([^\\`]|\\.)*?`</string>
			<key>name</key>
			<string>markup.raw.inline.markdown</string>
		</dict>
		<dict>
			<key>match</key>
			<string>``.*?``</string>
			<key>name</key>
			<string>markup.raw.inline.markdown</string>
		</dict>
		<dict>
			<key>match</key>
			<string>[*]([^\\* ]|\\.| [*] | )*(?&lt;! )[*]</string>
			<key>name</key>
			<string>markup.italic.markdown</string>
		</dict>
		<dict>
			<key>match</key>
			<string>[_]([^\\_ ]|\\.| .[^\\])*[_]</string>
			<key>name</key>
			<string>markup.italic.markdown</string>
		</dict>
		<dict>
			<key>match</key>
			<string>[_]{2}([^\\_]|\\.)*[_]{2}</string>
			<key>name</key>
			<string>markup.bold.markdown</string>
		</dict>
		<dict>
			<key>match</key>
			<string>[*]{2}([^\\*]|\\.)*[*]{2}</string>
			<key>name</key>
			<string>markup.bold.markdown</string>
		</dict>
		<dict>
			<key>match</key>
			<string> {2,}$</string>
			<key>name</key>
			<string>dummy.line-break</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\[(.*?)\] *\(.*?\)</string>
			<key>name</key>
			<string>markup.underline.link.markdown</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\[(.*?)\] *\[.*?\]</string>
			<key>name</key>
			<string>markup.underline.link.markdown</string>
		</dict>
		<dict>
			<key>match</key>
			<string>&lt;(mailto|https?)://.*?&gt;</string>
			<key>name</key>
			<string>markup.underline.link.markdown</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>text.html.markdown.inline</string>
	<key>uuid</key>
	<string>D2C492B0-7025-464A-B21E-2381098581D3</string>
</dict>
</plist>
