<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>markdown</string>
	</array>
	<key>firstLineMatch</key>
	<string>markdown</string>
	<key>keyEquivalent</key>
	<string>~^M</string>
	<key>name</key>
	<string>Markdown</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>comment</key>
			<string>Horizontal rules. Currently ignoring - because of conflict with headings</string>
			<key>match</key>
			<string>^([*_]\s*){3,}$</string>
			<key>name</key>
			<string>markup.hr.markdown</string>
		</dict>
		<dict>
			<key>match</key>
			<string>^={3,}$</string>
			<key>name</key>
			<string>markup.heading.1.markdown</string>
		</dict>
		<dict>
			<key>match</key>
			<string>^-{3,}$</string>
			<key>name</key>
			<string>markup.heading.2.markdown</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>entity.name.function</string>
				</dict>
			</dict>
			<key>match</key>
			<string>^#{1,9}\s+(.*)$</string>
			<key>name</key>
			<string>markup.heading.markdown</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>^\s{0,3}[*+-]\s+</string>
			<key>end</key>
			<string>^\s*$</string>
			<key>name</key>
			<string>markup.list.unnumbered</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#inline</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>^\s*[0-9]+\.</string>
			<key>end</key>
			<string>^\s*$</string>
			<key>name</key>
			<string>markup.list.numbered</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#inline</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>^\s*&gt;</string>
			<key>end</key>
			<string>^\s*$</string>
			<key>name</key>
			<string>markup.quote.markdown</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#inline</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string> {4,}|\t</string>
			<key>end</key>
			<string>^\s*$</string>
			<key>name</key>
			<string>markup.raw.block.markdown</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>^(?=\S)</string>
			<key>end</key>
			<string>^\s*$</string>
			<key>name</key>
			<string>markup.paragraph.markdown</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#inline</string>
				</dict>
				<dict>
					<key>include</key>
					<string>text.html.basic</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>comment</key>
			<string>Since html is valid in Markdown include the html patterns</string>
			<key>include</key>
			<string>text.html.basic</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>inline</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\\[-`*_#+.!(){}\[\]\\]</string>
					<key>name</key>
					<string>constant.character.escape.markdown</string>
				</dict>
				<dict>
					<key>comment</key>
					<string>Markdown will convert this for us. We match it so that the HTML grammar won't mark it up as invalid.</string>
					<key>match</key>
					<string>&amp;(?!([a-zA-Z0-9]+|#[0-9]+|#x[0-9a-fA-F]+);)</string>
					<key>name</key>
					<string>meta.other.valid-ampersand.markdown</string>
				</dict>
				<dict>
					<key>match</key>
					<string>`([^\\`]|\\.)*?`</string>
					<key>name</key>
					<string>markup.raw.inline.markdown</string>
				</dict>
				<dict>
					<key>match</key>
					<string>``.*?``</string>
					<key>name</key>
					<string>markup.raw.inline.markdown</string>
				</dict>
				<dict>
					<key>match</key>
					<string>[*]{2}([^\\*]|\\.)*[*]{2}</string>
					<key>name</key>
					<string>markup.bold.markdown</string>
				</dict>
				<dict>
					<key>match</key>
					<string>[*]([^\\* ]|\\.| [*] | )*(?&lt;! )[*]</string>
					<key>name</key>
					<string>markup.italic.markdown</string>
				</dict>
				<dict>
					<key>match</key>
					<string>[_]{2}([^\\_]|\\.)*[_]{2}</string>
					<key>name</key>
					<string>markup.bold.markdown</string>
				</dict>
				<dict>
					<key>match</key>
					<string>[_]([^\\_ ]|\\.| .[^\\])*[_]</string>
					<key>name</key>
					<string>markup.italic.markdown</string>
				</dict>
				<dict>
					<key>match</key>
					<string> {2,}$</string>
					<key>name</key>
					<string>dummy.line-break</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\[(.*?)\] *\(.*?\)</string>
					<key>name</key>
					<string>markup.underline.link.markdown</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\[(.*?)\] *\[.*?\]</string>
					<key>name</key>
					<string>markup.underline.link.markdown</string>
				</dict>
				<dict>
					<key>match</key>
					<string>&lt;(mailto|https?)://.*?&gt;</string>
					<key>name</key>
					<string>markup.underline.link.markdown</string>
				</dict>
				<dict>
					<key>match</key>
					<string>^\[.+\]: (.+)$</string>
					<key>name</key>
					<string>markup.underline.link.markdown</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>text.html.markdown</string>
	<key>uuid</key>
	<string>0A1D9874-B448-11D9-BD50-000D93B6E43C</string>
</dict>
</plist>
