<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># This command works well when you use the TextMate service from a 
# web-log editor like Ecto or MarsEdit.  You can write in markdown
# and then convert back to html before save and close.

Markdown.pl|perl -pe '
	# add id="title" argument to headers
	if(($tag, $title) = /&lt;(h[1-6])&gt;(.*?)&lt;\/\1&gt;/) {
		$_ = $title; y|- /|_|; s|[^a-zA-Z0-9_]||g;
		$_ = "&lt;$tag id=\"" . (lc $_) . "\"&gt;$title&lt;/$tag&gt;\n";
	}

#	# make empty lines in &lt;pre&gt; a nbsp (WordPress doubles these)
#	if($in_pre &amp;&amp; /^$/)	{ $_ = "&amp;nbsp;\n"; }
#	elsif(/&lt;pre&gt;/)		{ $in_pre = 1; }
#	elsif(/&lt;\/pre&gt;/)		{ $in_pre = 0; }

	# convert \ to numeric entity (WordPress swallows these)
	s/\\/\&amp;#x5C;/g;
'
</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^H</string>
	<key>name</key>
	<string>Convert Document to HTML</string>
	<key>output</key>
	<string>replaceDocument</string>
	<key>scope</key>
	<string>text.html.markdown</string>
	<key>uuid</key>
	<string>966B0E57-799A-4B91-84B4-75695A78F7B8</string>
</dict>
</plist>
