<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>. "$TM_SUPPORT_PATH/lib/html.sh"

if [[ -z $TM_FILENAME ]]
  then title="Markdown as HTML"
  else title="${TM_FILENAME%.*}"
fi

htmlHeader "$title" '&lt;style type="text/css"&gt;
	body {	
		background-color: #eee;
	}
	.contents {	
		background: white;
		font-family: Georgia, serif;
		font-size: 13px;
		border: 1px #888 solid;
		padding: 0 1em;
	}
	&lt;/style&gt;'

if [[ -f ${TM_FILEPATH} ]]; then
	echo "&lt;base href='tm-file://${TM_FILEPATH// /%20}'&gt;"
fi

tmp=$(mktemp /tmp/markdown_heading.XXXXXX)
beginTag div 'contents'
	tee &gt;(head -n$TM_LINE_NUMBER|grep '^#'|tail &gt;"$tmp" -n1)\
	|"$TM_SUPPORT_PATH/bin/Markdown.pl"|perl -pe '
	# make &lt;h1&gt;Header&lt;/h1&gt; into &lt;h1 id="header"&gt;Header&lt;/h1&gt;
	# so that we can link to it
	if(($tag, $title) = /&lt;(h[1-6])&gt;(.*?)&lt;\/\1&gt;/) {
		$_ = $title; s|&lt;[^&gt;]+&gt;||g; y|- /|_|; s|__+|_|g; s|[^a-zA-Z0-9_]||g;
		$_ = "&lt;$tag id=\"" . (lc $_) . "\"&gt;$title&lt;/$tag&gt;\n";
	}'
endTag

wait; cat &lt;&lt;JS
	&lt;script&gt;
		window.location.hash = "$(perl -pe &lt;"$tmp" 's|^#+ ||; s|&lt;[^&gt;]+&gt;||g; y|- /|_|; s|__+|_|g; s|[^a-zA-Z0-9_]||g; $_ = lc $_')"
	&lt;/script&gt;
JS
rm -f "$tmp"

htmlFooter
</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^~@p</string>
	<key>name</key>
	<string>Preview</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>text.html.markdown</string>
	<key>uuid</key>
	<string>B52DEA16-8480-11D9-BE59-000D93B3A10E</string>
</dict>
</plist>
