<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>export TEMPFILE=`mktemp "/tmp/XXXX"`

cat &gt;&gt; $TEMPFILE &lt;&lt;EOF
&lt;html&gt;
&lt;head&gt;
	&lt;meta http-equiv="content-type" content="text/html; charset=utf-8" /&gt;
	&lt;title&gt;Markdown preview&lt;/title&gt;
	&lt;style type="text/css"&gt;
	body {	
		background-color: #eee;
		font-family: "Lucida Grande", Verdana, sans-serif;
		font-size: 11px;
		line-height: 1.6em;
	}
	.contents {	
		background: white;
		font-family: Georgia, serif;
		font-size: 13px;
		border: 1px #888 solid;
		padding: 0 1em;
	}
	&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div class="contents"&gt;
EOF

"$TM_BUNDLE_PATH/markdown" &lt; $TM_FILEPATH &gt;&gt; $TEMPFILE

cat &gt;&gt; $TEMPFILE &lt;&lt;EOF
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
EOF

mv $TEMPFILE $TEMPFILE.html
open $TEMPFILE.html</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^M</string>
	<key>name</key>
	<string>Markdown in browser</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>scope</key>
	<string>text.html.markdown</string>
	<key>uuid</key>
	<string>58434A58-85E8-11D9-9CD0-000D93B3A10E</string>
</dict>
</plist>
