<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>. "$TM_SUPPORT_PATH/lib/html.sh"

if [[ -z $TM_FILENAME ]]
  then title="Markdown as HTML"
  else title="${TM_FILENAME%.*}"
fi

htmlHeader "$title" '&lt;style type="text/css"&gt;
  body {  
    background-color: #eee;
  }
  .contents { 
    background: white;
    font-family: Georgia, serif;
    font-size: 13px;
    border: 1px #888 solid;
    padding: 0 1em;
  }
  &lt;/style&gt;'

if [[ -f "$TM_FILEPATH" ]]; then
  echo "&lt;base href='tm-file://${TM_FILEPATH// /%20}'&gt;"
fi

beginTag div 'contents'

# make the header above caret into a link that we scroll down to
${TM_RUBY:-ruby} -e '

  lines = STDIN.read.split("\n");
  n = [ENV["TM_LINE_NUMBER"].to_i, lines.length].min - 1

  while n &gt; 0 &amp;&amp; !lines[n].match(/^#+/)
    n = n-1
  end

  if n &gt; 0 &amp;&amp; m = lines[n].match(/^(#+\s*)(.*?)(\s*#*)$/)
    lines[n] = "#{m[1]}&lt;span id=\"scroll_to_here\"&gt;#{m[2]}&lt;/span&gt;#{m[3]}"
  end

  puts lines.join("\n")
  puts "&lt;script&gt;window.location.hash = \"scroll_to_here\";&lt;/script&gt;"

'|"$TM_SUPPORT_PATH/bin/Markdown.pl"

endTag
htmlFooter
</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^~@p</string>
	<key>name</key>
	<string>Preview</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>text.html.markdown</string>
	<key>uuid</key>
	<string>B52DEA16-8480-11D9-BE59-000D93B3A10E</string>
</dict>
</plist>
