<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>argument</key>
			<string>!</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>@</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>#</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>$</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>$</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>#</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>@</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>!</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>findPrevious</string>
				<key>findInProjectIgnoreCase</key>
				<false/>
				<key>findString</key>
				<string>^\s*\*( |\t)*</string>
				<key>ignoreCase</key>
				<false/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>selection</string>
				<key>wrapAround</key>
				<true/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>copy:</string>
		</dict>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>findNext</string>
				<key>findInProjectIgnoreCase</key>
				<false/>
				<key>findString</key>
				<string>!@#$$#@!</string>
				<key>ignoreCase</key>
				<false/>
				<key>regularExpression</key>
				<false/>
				<key>replaceAllScope</key>
				<string>selection</string>
				<key>wrapAround</key>
				<false/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>deleteBackward:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>insertNewline:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>paste:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Add Unnumbered List Item</string>
	<key>scope</key>
	<string>text.html.markdown markup.list.unnumbered</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>F1703E72-7756-4194-81AA-9EB599CD7928</string>
</dict>
</plist>
