<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>findPrevious</string>
				<key>findInProjectIgnoreCase</key>
				<false/>
				<key>findString</key>
				<string>^</string>
				<key>ignoreCase</key>
				<false/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>selection</string>
				<key>wrapAround</key>
				<true/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveWordRightAndModifySelection:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>copy:</string>
		</dict>
		<dict>
			<key>argument</key>
			<dict>
				<key>commands</key>
				<array>
					<dict>
						<key>command</key>
						<string>moveToEndOfParagraph:</string>
					</dict>
					<dict>
						<key>command</key>
						<string>insertNewline:</string>
					</dict>
				</array>
			</dict>
			<key>command</key>
			<string>playMacroWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>paste:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToBeginningOfLineAndModifySelection:</string>
		</dict>
		<dict>
			<key>argument</key>
			<dict>
				<key>command</key>
				<string>ruby -e 'print STDIN.readline.strip.to_i + 1; print ". "'</string>
				<key>input</key>
				<string>selection</string>
				<key>output</key>
				<string>replaceSelection</string>
			</dict>
			<key>command</key>
			<string>executeCommandWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRight:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Add new numbered list item</string>
	<key>scope</key>
	<string>text.html.markdown markup.list.numbered markup.list.paragraph</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>79737383-7F46-4E1C-9D54-29A9B682E2DF</string>
</dict>
</plist>
