<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>moveToBeginningOfLine:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>selectWord:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>copy:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToEndOfLine:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>insertNewline:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>paste:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>+</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>1</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToBeginningOfLineAndModifySelection:</string>
		</dict>
		<dict>
			<key>argument</key>
			<dict>
				<key>beforeRunningCommand</key>
				<string>nop</string>
				<key>bundlePath</key>
				<string>/Users/pbx/Library/Application Support/TextMate/Bundles/Math.tmbundle</string>
				<key>command</key>
				<string>printf "%s" `{ tr -d ,; echo; } | bc -l`| perl -pe 's/(\.[^0]+)0+$|\.0+$/$1/'</string>
				<key>fallbackInput</key>
				<string>line</string>
				<key>input</key>
				<string>selection</string>
				<key>keyEquivalent</key>
				<string>^C</string>
				<key>name</key>
				<string>Evaluate and Replace Expression</string>
				<key>output</key>
				<string>replaceSelectedText</string>
				<key>uuid</key>
				<string>D1DFE75D-EAAD-4662-8F1F-F5556402054B</string>
			</dict>
			<key>command</key>
			<string>executeCommandWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRight:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>.</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Add numbered list item</string>
	<key>scope</key>
	<string>text.html.markdown markup.list.numbered</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>4736B811-1642-40C6-A9EE-27BC10B35DC5</string>
</dict>
</plist>
