<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>insertNewline:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>*</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string> </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Add Unnumbered List Item</string>
	<key>scope</key>
	<string>text.html.markdown markup.list.unnumbered</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>278ABC8D-460F-4422-9CD9-4E64D97C7C05</string>
</dict>
</plist>
